.button-container {
    height: 50px;
}

.button-container button {
    float: right;
    margin: 8px;
    padding: 2px;
    width: 80px;
}

.card-container {
    // display: flex;
    // justify-content: center;
    // text-align: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
    margin-top: 50px;
}
.card {
    width: 200px;
    height: 200px;
    margin: 50px;
    padding: 50px;
    background-color: #84acce;
    border-radius: 10px;
}
.card:hover {
    cursor: pointer;
}
img {
    border-radius: 15px;
    color: #84acce;
    height: 100px;
    width: 100px;
}
h3 {
    margin: 5px;
    margin-left: 10px;
}
